body{
  background-color:#FAF1E4;

}
.col{

  text-align: center;
  }
.p1{
  font-size: 5.5rem;
}



p{
  font-size: 1.5rem;

}
hr{

  width: 100px;

  border-style: dotted none none none;
  border-width: 10px;
  height: 1px
}
.con5{
  padding-bottom:30px;

  text-align: center;

}
img{

  max-width: 100%; /* Ensure the image doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */


}
